<div class="page-container">
  <app-header></app-header>

  <div class="register-card">
    <div class="title-text-register">
      <p>Comece a</p>
      <h1>Criar Sua Conta</h1>
    </div>

    <div class="input-group">
      <label for="full-name-input">Nome e sobrenome</label>
      <input
        type="text"
        id="full-name-input"
        placeholder=""
        [(ngModel)]="fullName"
        required
      />
    </div>

    <div class="input-group">
      <label for="email-input">E-mail</label>
      <input
        type="email"
        id="email-input"
        placeholder=""
        [(ngModel)]="email"
        required
      />
    </div>

        <div class="input-group"> <!-- ADICIONADO: 'position: relative;' via CSS para este input-group -->
      <label for="password-input">Senha</label>
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        id="password-input"
        placeholder=""
        [(ngModel)]="password"
        required
      />
      <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
        <i class="bi" [class.bi-eye-fill]="!passwordVisible" [class.bi-eye-slash-fill]="passwordVisible"></i>
      </button>
    </div>

    <div class="input-group"> <!-- ADICIONADO: 'position: relative;' via CSS para este input-group -->
      <label for="confirm-password-input">Repetir senha</label>
      <input
        [type]="confirmPasswordVisible ? 'text' : 'password'"
        id="confirm-password-input"
        placeholder=""
        [(ngModel)]="confirmPassword"
        required
      />
      <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
        <i class="bi" [class.bi-eye-fill]="!confirmPasswordVisible" [class.bi-eye-slash-fill]="confirmPasswordVisible"></i>
      </button>
    </div>

    <div class="terms-checkbox">
      <input type="checkbox" id="agree-terms" [(ngModel)]="agreeTerms" />
      <label for="agree-terms">Eu concordo com os <a routerLink="/privacy-policy" class="terms-link">Termos de privacidade</a></label>
    </div>

    <button class="primary-button" (click)="register()">
      Entrar
    </button>

    <div class="login-link-container">
      <span>Já tem uma conta? </span>
      <a href="#" class="login-link" (click)="goToLogin()">Entrar</a>
    </div>
  </div>
</div>